@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.6);
}

*::-webkit-scrollbar-thumb {
  background: #dba0a0;
  border-radius: 100vh;
}

.aplayer.aplayer-arrow .aplayer-icon-loop,
.aplayer.aplayer-arrow .aplayer-icon-order,
.aplayer.aplayer-mobile .aplayer-icon-volume-down {
  @apply text-blue-800 hover:text-orange-500
}

.aplayer .aplayer-info .aplayer-music .aplayer-title {
  @apply text-sm text-blue-800 hover:text-orange-500
}

.aplayer .aplayer-info .aplayer-music .aplayer-author {
  @apply text-xs text-blue-800 hover:text-orange-500
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  @apply text-blue-800 hover:text-orange-500
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  @apply text-blue-800 hover:text-orange-500
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
  @apply fill-blue-800
}
